.imgContainer{
    width: 68px;
    height: 68px;
    padding: 3px;
    border: 1px solid black;
    display: block;
    border-radius: 50%;
    box-sizing: border-box;
}

.imgStyle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}