@import '../styleVariables/variables.scss';

*{
    font-family: 'Raleway', sans-serif;
}

.chatBody{
  width: 800px;
   margin: 0 auto;
   margin-top: 150px;
   position: relative;
}

div{
    font-family: 'Raleway', sans-serif;
}
.inline-block{
    display: inline-block;
}
.fright{
    float: right;
}

input:focus{
    outline: none;
}
textarea{
    resize: none;
}
textarea:focus{
    outline: none;
}

.inline{
    display: inline-block;
}

.chat{
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 0 50px 50px 50px;
  border: 1px solid black;
  box-shadow: 0px 0px 0px $mainColor;
  animation:showLogin2 2s linear;
  transform-origin: top left;
  transition: all 0.5s;
  display: inline-block;
  position: relative;
  overflow: hidden;
}


.chatSwitch{
    position: absolute;
    top: 0;
    left: 0;
    width: 1240px;
    height: 100%;
    transition: all 1s;
}
.chatSwitchRight,.chatSwitchLeft{
    width: 560px;
    height: 560px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    padding-left: 20px;
    overflow: hidden;
    position: relative;
}

@keyframes showLogin2
{
0% {border: 1px solid transparent;}
50% { border: 1px solid transparent;}
80% { border: 1px solid black;}
100% {border: 1px solid black;}
}


.cover2{
  background-color: $mainColor;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 30;
  line-height: 670px;
  text-align: center;
  animation:hide2 1.8s linear;
  transform-origin: top left;
  clip-path: inset(100% 0px 0px 0px);
}

@keyframes hide2
{
0% {clip-path: inset(0% 0px 0px 0px);}
60% {clip-path: inset(0% 0px 0px 0px);}
100% {clip-path: inset(100% 0px 0px 0px); }
}

.chatbox{
    height: 450px;
    width: 90%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    /* border-radius: 0 40px 20px 20px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
}
.chatbox::-webkit-scrollbar {
   display: none;
 }

.chatInputContiner{
  width:80%;
  border:1px solid black;
  border-radius: 28px;
  padding:2px;
  transition: all 0.5s;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  margin-right: 20px;
  bottom: 20px;
  background-color: white;
}

.chatSubmitContiner{
  width:46px;
  height:46px;
  border:1px solid black;
  border-radius: 100px;
  padding:2px;
  transition: all 0.5s;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  bottom: 20px;
  right: 20px;
  background-color: white;
}

.chatLeft{
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.chatLeftIcon{
  width: 70px;
  height: 70px;
  border-radius: 50px 0px 50px 50px;
  text-align: center;
  padding: 5px;
  border:1px solid black;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.iconShrink{
    transform: scale(0.8);
}

.chatLeftIn{
   position: absolute;
   width: 180px;
   transition: all 1s;
   left: 5px;
}
.backOut,.backOut2{
    width: 70px;
    height: 70px;
    background-color: $mainColor;
    border-radius: 100px;
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
}
.back{
    height: 100%;
    position: relative;
}
.borderBackout{
    border: 1px solid rgb(202, 202, 202);
    background-color: white;

}

.icon,.icon2{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 100px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}
.backOut2{
    margin-left: -12px;
    margin-top: -15px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 3px;
}

.searchContainer{
    border:  1px solid black;
    border-radius: 100px;
    width: 470px;
    height: 44px;
    padding: 4px;
    padding-left: 6px;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    margin-bottom: 20px;
}

.searchIcon{
    height: 34px;
    width: 34px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    padding: 5px;
    background-color: $mainColor;
}

.searchInput{
    width: 410px;
    display: inline-block;
    height: 42px;
    vertical-align: middle;
    border-radius: 100px;
    border: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;

}
.searchInput:focus{
     outline: none;
}

.waitLine{
    width: 470px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.showBtn{
    opacity: 1;
    transition: all 0.8s;
    box-shadow: 0 0 4px  rgba(112, 112, 112, 0.574);
}

/* .friendIcon:hover>.showBtn{
    opacity: 1;
} */


.listSwitch{
    width: 12%;
    display:inline-block;
    height: 86%;
    vertical-align: middle;
    border-radius: 0 0 0 20px;
    margin-right: 2%;
}
.friendLists{
    width: 86%;
    display:inline-block;
    height: 86%;
    vertical-align: middle;
    border-radius: 0 0 20px 0;
}


.btn01{
    margin-left: 90px;
}

.icon02{
    height: 100%;
    margin-right: 0;
}

.imgBorder{
    border: 1px solid red;
    border-radius: 130px;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 76%;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.btn02{
    transition: all 0.5s;
}
.btn02:hover{
    background-color: rgb(255, 255, 255);
}


.whireBorder{
    border-color: white;
}

.btn03{
    background-color: white;
}

.chatInput{
  max-height: 310px;
  display: inline-block;
  vertical-align: middle;
  width: 410px;
  margin-left: 10px;
  font-size: 32px;
  padding-left: 5px;
  font-family: 'Raleway', sans-serif;
  transition: all 0.5s;
  border: 0px;
  overflow: scroll;
  margin-bottom: -16px;
}
.chatInput::-webkit-scrollbar {
   display: none;
 }

.chatInputName{
    width: 43px;
    height: 43px;
    border-radius: 100px;
    border:1.5px solid $mainColor;
    background-color: $mainColor;
    transition: all 0.5s;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    color: transparent;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

.searchUser{
    color: $mainColor;
    cursor: default;
}

.searchUser:hover{
    color: $mainColorDark;
}

.searchFriendIcon{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.searchedUser{
    margin-top: 15px;
    width: 98%;
    background-color: azure;
    border-radius: 100px;
    padding: 2px;
    vertical-align: middle;
}

.searchedUsername{
    vertical-align: middle;
    font-size: 30px;
    position: relative;
}
.addFriendIcon{
    margin: 0;
    border: none;
    background-color: transparent;
}

.smallName{
    font-size: 16px;
    position: absolute;
    right: 100px;
}

.currentChatName{
    font-size: 2rem;
    margin-top: -8px;
    margin-bottom: 8px;
}

#inputTag{
    display: none;
}
// .label{
//     width: 40px;
//     height: 40px;
//     cursor: pointer;
//     background-color: black;
// }