@import '../styleVariables/variables.scss';
*{
    font-family: 'Raleway', sans-serif;
}

div{
    font-family: 'Raleway', sans-serif;
}
.inline-block{
    display: inline-block;
}
.fright{
    float: right;
}
input:focus{
    outline: none;
}
textarea{
    resize: none;
}
textarea:focus{
    outline: none;
}

.inline{
    display: inline-block;
}

.chatContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    .chatBody{
      width: 700px;
      height: 700px;
      display: flex;
      margin: auto;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 1rem;
      box-sizing: border-box;
      .chatLeft{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
}

.logo{
    position: absolute;
    right: 2%;
    bottom: 3%;
    width: 230px;
}


input[type="range"] {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  background: $mainColor;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}