@import '../styleVariables/variables.scss';
.GroupInfo{
    display: flex;
    flex-direction: column;
    width: 76%;
    gap:  1rem;
    .title{
        font-size: 30px;
        font-weight: 400;
        margin-top: 10px;
        color: rgb(96, 194, 229);
    }
    .GPMember{
        display: flex;
        flex-direction: row;
        gap:  1rem;
        .searchArea{
            display: flex;
            align-items: center;
            font-weight: 200;
            border-bottom: 1px solid silver;
            .input{
                border: none;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }
    .GPcontent{
        font-size: 20px;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        .GPInput{
            font-size: 20px;
            border: none;
            border-bottom: 1px solid silver;
            width: 60%;
            font-weight: 300;
        }
        #inputTag{
            display: none;
        }
        .avatarContainer{
            font-size: 24px;
            width: 70px;
            height: 70px;
            border: 1px solid black;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }
        .avatar{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 5;
            position: relative;
        }
        .add{
            font-size: 25px;
            font-weight: 100;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 2;
        }
    }
    .friends{  
        display: flex;  
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        max-height: 43%;
        overflow: auto;
        .friend{
            display: flex;
            width: 45%;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            border-left: 2px solid $mainColor;
            padding-left: 8px;
            .friendAvatar{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .chosen{
                margin-left: auto;
                margin-right: 2rem;
                font-size: 20px;
                padding: 3px;
                border-radius: 50%;
                background-color: $success;
                color: white;
                flex-shrink: 0;
            }
        }
    }
    .groupBG{
        position: absolute;
        width: 42%;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        bottom: -40%;
        left: 6%;
        height: 42%;
        padding: 10px;
        font-size: 20px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.5s;
        border: 1px solid rgb(216, 216, 216);
        border-radius: 10px 10px 0 0 ;
        box-shadow: 0 0 5px 0 rgb(232, 232, 232);
        gap: 0.5rem;
        .gpbdHeadDecoreate{
            position: absolute;
            top: 0;
            width: 80px;
            height: 5px;
            background-color: $mainColor;
        }
        .gpbgClear{
            position: absolute;
            right: 0;
            font-size: 20px;
            padding: 10px;
            background-color: $mainColor;
            z-index: 100;
        }
        .grey{
            color: gray;
            font-size: 15px;
        }
        .BGContainer{
            border: 1px solid rgb(228, 228, 228);
            width: 450px;
            height: 225px;
            position: relative;
            .avatar{
                width: 100%;
                height: 100%;
                z-index: 5;
                position: relative;
            }
            .add{
                font-size: 60px;
                font-weight: 100;
                position: absolute;
                top: 50%;
                left: 50%;
                color: gray;
                transform: translateX(-50%) translateY(-50%);
                z-index: 2;
                transition: all 0.5s;
            }
        }
        .bg{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 5;
            position: relative;
        }
    }
    .submitGP{
            z-index: 160;
            font-size: 16px;
            position: absolute;
            right: 0;
            bottom: 10%;
            background-color: $mainColor;
            color: white;
            width: 60px;
            height: 60px;
            transform-origin: bottom right;
            transition: all 1s;
            overflow: hidden;
            &:hover{
            width: 160px;
            background-color:  $success;
        }
        .submitGPInside{
            display: flex;
            align-items: center;
            position: absolute;
            right: 0px;
            width: 170px;
            height: 100%;
            border-radius: 100px;
            justify-content: flex-end;
            padding-right: 16px;
            gap: 2rem;
            transition: all 1s;
            color: white;
            .newGPIcon{
                font-size: 25px;
            }
        }
        &:hover>.submitGPInside{
            gap: 0.4rem;
            color: white;
        }
    }
}
.chatSwitchLeft{
    .GPwarn{
    position: absolute;
    bottom: 0%;
    width: 60%;
    left: 5%;
    border-radius: 30px 30px 0 0;
    background-color: $warn;
    padding: 10px 20px;
    color: white;
    z-index: 100;
    animation: showDown 0.3s cubic-bezier(0,.87,.64,.97);
    text-align: center;
}
}

@keyframes showDown {
    from {transform: translateY(40%);}
    to {transform: translateY(0%);}
    
}