@import '../../styleVariables/variables.scss';
.friendList{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    position: relative;
    .friendIcon,.searchFriendIcon,.addFriendIcon{
        width: 60px;
        height: 60px;
        border-radius: 100px;
        background-color: rgb(184, 255, 185);
        border: 0.3px solid rgb(185, 185, 185);
        padding: 3px;
        display: inline-block;
        vertical-align: top;
        transition: all 0.5s;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 20px;
        box-shadow: 0 0 4px  rgba(229, 229, 229, 0.633) inset;
        .icon{
            height: 100%;
            width: 60px;
            position: relative;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }
        .info{
            width: 60px;
            height: 60px;
            font-size: 40px;
        }
    }
    .friendInfo,.deleteInfo{
        position: absolute;
        height: 62px;
        width: 70px;
        background-color: rgba(133, 230, 250);
        border-radius: 100px 0 0 100px;
        top: 0px;
        padding: 3px;
        right: -100px;
        opacity: 1;
        transition: all 0.8s;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon{
            height: 100%;
            width: 60px;
            position: relative;
            border-radius: 50%;
            margin-right: 10px;
        }
        .friendNameAndWord{
            font-size: 30px;
            font-family: 'Raleway', sans-serif;
            position: relative;
            vertical-align: top;
            .friendName{
                font-size: 30px;
                cursor: default;
            }
            .friendName2{
                color: white;
                font-size: 25px;
            }

            .friendName3{
                color: white;
                font-weight: 200;
            }
            .friendWord{
                font-size: 20px;
                margin-top: 5px;
                color: rgb(104, 104, 104);
                cursor: default;
            }
        }
        .deleteFriend{
            font-size: 30px;
            color: white;
            padding: 10px;
            border: 1px solid white;
            border-radius: 50%;
            margin-left: auto;
            margin-right: 100px;
            transition: all 0.5s;
            &:hover{
                border: 1px solid $warn;
                background-color: $warn;
            }
        }
    }
    .deleteInfo{
        background-color: $warn;
        display: flex;
        flex-direction: row;
        align-items: center;
        .deleteInfoWord{
            font-size: 20px;
            color: white;
            margin-left: 10px;
            margin-right: 30px;
            font-weight: 200;
            display: inline-block;
            width: 50%;
        }
        .chooses{
            margin-left: auto;
            margin-right: 14%;
            height: 100%;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .choose{
                font-size: 20px;
                padding: 10px;
                border: 1px solid white;
                color: white;
                border-radius: 50%;
                transition: all 0.5s;
                &:hover{
                    padding: 20px;
                }
            }
        }
    }
}


.friendIcon:hover{
    width: 130px;
}

.imgBorder{
    border-radius: 130px;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 76%;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.icon02{
    height: 100%;
    margin-right: 0;
}

.btn01{
    margin-left: 90px;
}


.btn02{
    transition: all 0.5s;
}
.btn02:hover{
    background-color: rgb(255, 255, 255);
}

.whireBorder{
    border-color: white;
}

.btn03{
    background-color: white;
}
